<ion-view title="{{ activeProjectObject.title ? activeProjectObject.title : 'Shhlist' }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <button class="button button-clear button-notifications" ng-show="invites.length > 0" menu-toggle="left"><span class="badge badge-assertive">{{ invites.length }}</span></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ul class="list" ng-show="activeTasksArray">
      <li class="item task"
        ng-repeat="(key,task) in activeTasksArray"
        ng-class="{'finished': task.finished === true && activeProjectObject.uid!=uid , 'item-checkbox': task.uid!=uid}"
        ng-if="(task.created_by_uid === uid || activeProjectObject.uid!=uid)"><!-- created by me or not my project -->
        <label class="checkbox checkbox-balanced" ng-model="task.finished" ng-show="task.uid!=uid">
            <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                <input ng-model="task.finished" type="checkbox" ng-change="toggleTask(task.$id)"><i class="checkbox-icon"></i>
            </div>
        </label>
        <i class="icon ion-ios-circle-outline list-icon" ng-show="task.uid===uid"></i>
        <span class="item-title">{{ task.title }}</span>
            <button class="button button-icon icon ion-close-circled
              x-box red"
              ng-click="deleteTask(key)" ng-show="task.created_by_uid===uid"></button>
          <span class="item-note" ng-class="task.uid===uid?'item-note-pad-right':''">
              <div ng-if="task.created_by_uid != uid">added by {{ task.created_by }}</div>
              <div ng-if="task.created_by_uid === uid && activeProjectObject.uid!=uid">you added</div>
          </span>
      </li>
      <li>
        <form ng-submit="createTask(task)">
          <div class="list">
            <label class="item item-input">
              <i class="icon ion-plus new-item"></i>
              <input type="text" placeholder="e.g. New shoes" ng-model="task.title">
            </label>
          </div>
          
          <div class="padding" ng-show="activeProjectObject.uid===uid">
            <div class="code-wrapper">
                Your unique list code is:
                <div class="code">{{activeProjectObject.code}}</div>
            </div>
            
            <button type="button" class="button button-block button-dark icon ion-share" ng-click="shareProject(activeProjectObject)">&nbsp;Shhare it</button>
          </div>
        </form>
      </li>
    </ul>
  </ion-content>
</ion-view>



