<ion-view view-title="Welcome to Shhlist" name="login-view">
    <ion-nav-buttons side="right">
        <a class="button button-clear button-light" ng-href="#/app/login">Login</a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                Thanks for installing Shhlist!
            </div>
            <div class="item item-text-wrap">    
                To store your lists and to find your friends, you'll need to create an account.
            </div>
        </div>
        
        <form ng-submit="register()">
            <div class="list list-inset">
              <label class="item item-input">
                  Name:&nbsp;
                  <input type="text" placeholder="John Smith" ng-model="data.name" ng-required="true">
                  <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input">
                  Email:&nbsp;
                  <input type="email" placeholder="john@mail.com" ng-model="data.email" ng-required="true">
                  <i class="icon ion-alert-circled error col col-10"></i>
              </label>
              <label class="item item-input">
                  Password:&nbsp;
                  <input type="password" placeholder="password" ng-model="data.password" ng-required="true">
                  <i class="icon ion-alert-circled error col col-10"></i>
              </label>
            </div>
            <button class="button button-block button-balanced" type="submit">Register</button>
        </form>
        
        <div class="card">
            <div class="item item-text-wrap">    
                <small>Already registered? <a ng-href="#/app/login">Login here.</a></small>
            </div>
        </div>
        
    </ion-content>
</ion-view>